package {{ .Name | ToLower }}

import (
	"github.com/LiskHQ/lisk-engine/pkg/framework/blueprint"
	"github.com/LiskHQ/lisk-engine/pkg/rpc"
)

type Endpoint struct {
	blueprint.Endpoint
	moduleID uint32
}

func (e *Endpoint) init(moduleID uint32) {
	e.moduleID = moduleID
}

func (a *Endpoint) Get() statemachine.EndpointHandlers {
	return map[string]statemachine.EndpointHandler{}
}