package main

import (
	"log"
	"os"

	"github.com/LiskHQ/lisk-engine/pkg/client"
	"github.com/urfave/cli/v2"
)

func main() {
	app := cli.App{
		Usage: "Lisk Golang SDK CLI tool",
		Commands: []*cli.Command{
			client.GetStartCommand(&starter{}),
			client.GetGenesisCommand(&starter{}),
			client.GetAccountCommand(),
		},
	}
	err := app.Run(os.Args)
	if err != nil {
		log.Fatal(err)
	}
}
