package {{.Name | ToLower}}

import (
	"encoding/json"

	"github.com/LiskHQ/lisk-engine/pkg/framework"
	"github.com/LiskHQ/lisk-engine/pkg/framework/blueprint"
)

type Config struct {
}

type Plugin struct {
	blueprint.Plugin
}

func NewPlugin() *Plugin {
	return &Plugin{}
}

func (p *Plugin) Name() string {
	return "{{.Name | ToLower}}"
}

func (p *Plugin) Init(cfg *framework.PluginConfig) error {
	config := &Config{}
	if err := json.Unmarshal(cfg.Config, config); err != nil {
		return err
	}
	return nil
}

func (p *Plugin) Start() {
}

func (p *Plugin) Stop() {
}
